.toolbar {
  display: flex;
  flex-direction: row;
  background: #3c3a39;
  color: white;
  height: 92px;
  width: 375px;
  justify-content: space-between;
  padding: 0 24px;
  flex: 1;
}

.logo {
  align-self: flex-end;
  padding-bottom: 20px;
}

.hamburger {
  align-self: flex-end;
  padding-bottom: 20px;
}

.headline {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 375px;
  padding: 120px 24px;
  gap: 12px;
  background: #1c1a19;
  background-image: url(./images/Back-Ground\ image\ 2.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 91% 120%;
}

.greeting {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  margin: 0;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.presentation {
  width: 327px;
  height: 27px;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.description {
  width: 327px;
  height: 123px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.socials {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 200px;
  height: 40px;
  flex: none;
  order: 3;
  flex-grow: 0;
  list-style: none;
}

.works {
  display: grid;
  grid-template-columns: 80%;
  border: 1px solid yellowgreen;
  justify-content: center;
}

.project1 {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  column-gap: 24px;
}

.project_title1 {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  border: 2px solid fuchsia;
}

.project_description1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  justify-self: center;
  border: 2px solid aqua;
}
.project_tools1 {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid blue;
  align-self: center;
  width: 327px;
  height: 40px;
  margin: 0;
  padding: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tool1 {
  border: 1px solid #8993a4;
}

.project {
  background-image: url(./images/Profesional\ Printing.svg);
  background-repeat: no-repeat;
  border: 2px greenyellow;
}

.project_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff5e1;
  border-radius: 8px;
  width: 327px;
  height: 327px;
  margin: 0;
  padding: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about_me {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 375px;
  flex: 1 1 375px;
}

.description1 {
  width: 327px;
  height: 123px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.resume {
  background-color: #ff6b00;
  order: 2;
}

.language {
  order: 3;
  color: #fff;
}

.frameworks {
  order: 4;
  color: #fff;
}

.skills {
  order: 5;
  color: #fff;
}
