.toolbar {
  display: flex;
  flex-direction: row;
  background: #3c3a39;
  color: white;
  height: 92px;
  width: 375px;
  justify-content: space-between;
  padding: 0 24px;
  flex: 1;
}

.logo {
  align-self: flex-end;
  padding-bottom: 20px;
}

.hamburger {
  align-self: flex-end;
  padding-bottom: 20px;
}

.headline {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 375px;
  padding: 120px 24px;
  gap: 12px;
  background: #1c1a19;
  background-image: url(./images/Back-Ground\ image\ 2.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 91% 120%;
}

.greeting {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  margin: 0;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.presentation {
  width: 327px;
  height: 27px;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.description {
  width: 327px;
  height: 123px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.socials {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 200px;
  height: 40px;
  flex: none;
  order: 3;
  flex-grow: 0;
  list-style: none;
}

.works {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 1fr auto auto auto auto auto auto auto;
  row-gap: 5vh;
  margin-top: 20vh;
}

.works_title {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  border-color: #1c1a19;
  padding-bottom: 10vh;
  border-bottom: 1px solid #212121;
  width: 327px;
}

.project1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 24px;
}

.arrow {
  width: 327px;
  height: 237px;
  display: flex;
  align-self: center;
}

.project_title1 {
  width: 327px;
  height: 37px;
  color: #091e42;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  padding: 0;
}

.project_description1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 327px;
  height: 147px;
}

.project_tools1 {
  list-style: none;
  
  
  
  height: 40px;
  margin: 0;
  padding: 0 0;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 327px;
}

.tool1 {
  
  border: 1px solid #8993a4;
  height: 40px;
  padding: 0 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  float: left;
  margin: 5px;
}

.project_link1 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  background: #ff6b00;
  width: 124px;
  height: 48px;
  margin: 0;
  margin-top: 3vh;
  margin-left: 25px;
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.project_link1:hover {
  background: #fff5e1;
  color: #ff6b00;
}

.project_link1:active {
  background: #ff6b00;
  color: #fff5e1;
}

.project {
  display: flex;
  background-image: url(./images/Profesional\ Printing.svg);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}

.project_title {
  width: 295px;
  height: 81px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #fff;
  margin-top: 80px;
  margin-bottom: 0;
  margin-left: 15px;
}

.project_description {
  width: 301px;
  height: 99px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 15px;
  margin-bottom: 0;
}

.project_tools {
  list-style: none;
  flex-direction: row;
  order: 2;
  height: 40px;
  margin-right: 15px;
  padding: 0;
}

.tool {
  color: #fff;
  width: 71px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  float: left;
  margin-left: 15px;
}

.project_link {
  display: flex;
  height: 48px;
  background-color: #ff6b00;
  color: #fff;
  order: 3;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
}

.project_link:hover {
  background: #fff5e1;
  color: #ff6b00;
}

.project_link:active {
  background: #ff6b00;
  color: #fff5e1;
}

.about_me {
  background-color: #1c1a19;
  display: flex;
  min-width: 100vw;
  min-height: fit-content;
  flex-direction: column;
  padding-bottom: 20vh;
  margin-top: 10vh;
}

.about_me_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  background-image: url(./images/Background_aboutme.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  order: 0;
}

.about_me_title {
  width: 327px;
  height: 79px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.description1 {
  width: 327px;
  height: 148px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.resume {
  background-color: #ff6b00;
  order: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  width: 156px;
  height: 48px;
  margin-top: 15px;
  margin-left: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.resume:hover {
  background: #fff5e1;
  color: #ff6b00;
}

.resume:active {
  background: #ff6b00;
  color: #fff5e1;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: disc;
  justify-content: center;
  align-self: center;
  height: fit-content;
  margin: 0;
  padding: 0;
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 327px;
  background-color: #1c1a19;
  padding-top: 20vh;
  border-top: 1px solid #fff;
}

.language {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: space-between;
  text-align: center;
  height: auto;
  width: 210px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.li_lang {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
}

.frameworks {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: space-between;
  justify-content: center;
  height: auto;
  width: 210px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.li_framewk {
  color: #fff;
  order: 5;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
}

.skills {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  text-align: center;
  height: auto;
  width: 210px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.li_skills {
  color: #fff;
  order: 5;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  justify-content: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}
