@media (min-width: 375px) and (max-width: 767px) {
  .toolbar {
    display: flex;
    flex-direction: row;
    background: #3c3a39;
    color: white;
    height: 92px;
    width: 375px;
    justify-content: space-between;
    padding: 0 24px;
    flex: 1;
  }

  .logo {
    align-self: flex-end;
    padding-bottom: 5vh;
  }

  .hamburger {
    align-self: flex-end;
    padding-bottom: 20px;
  }

  .mail_icon {
    display: none;
  }

  .nav-links {
    display: none;
  }

  .headline {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    width: 375px;
    padding: 120px 24px;
    gap: 12px;
    background: #1c1a19;
    background-image: url(./images/Back-Ground\ image\ 2.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 91% 120%;
  }

  .greeting {
    width: 327px;
    height: 124px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    margin: 0;
    letter-spacing: 0.37px;
    color: #ff6b00;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .presentation {
    width: 327px;
    height: 27px;
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    display: flex;
    align-items: center;
    color: #fff5e1;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .description {
    width: 327px;
    height: 123px;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .socials {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 200px;
    height: 40px;
    flex: none;
    order: 3;
    flex-grow: 0;
    list-style: none;
  }

  .works {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 1fr auto auto auto auto auto auto auto;
    row-gap: 5vh;
    margin-top: 20vh;
  }

  .works_title {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    border-color: #1c1a19;
    padding-bottom: 10vh;
    border-bottom: 1px solid #212121;
    width: 327px;
  }

  .works_break {
    display: none;
  }

  .project1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 24px;
  }

  .arrow {
    width: 327px;
    height: 237px;
    display: flex;
    align-self: center;
  }

  .project_title1 {
    width: 327px;
    height: 37px;
    color: #091e42;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    padding: 0;
  }

  .project_description1 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 327px;
    height: 147px;
  }

  .project_tools1 {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    height: 40px;
    margin: 0;
    padding: 0 0;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 327px;
  }

  .tool1 {
    display: flex;
    border: 1px solid #8993a4;
    height: 40px;
    padding: 0 12px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
  }

  .project_link1 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    background: #ff6b00;
    width: 124px;
    height: 48px;
    margin: 0;
    margin-top: 3vh;
    margin-left: 25px;
    font-family: "Inter", sans-serif;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.03em;
  }

  .project_link1:hover {
    background: #fff5e1;
    color: #ff6b00;
  }

  .project_link1:active {
    background: #ff6b00;
    color: #fff5e1;
  }

  .project {
    display: flex;
    background-image: url(./images/Profesional\ Printing.svg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
  }

  .project_title {
    width: 295px;
    height: 81px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #fff;
    margin-top: 80px;
    margin-bottom: 0;
    margin-left: 15px;
  }

  .project_description {
    width: 301px;
    height: 99px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 15px;
    margin-bottom: 0;
  }

  .project_tools {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    order: 2;
    height: 40px;
    margin-right: 15px;
    padding: 0;
  }

  .tool {
    display: flex;
    color: #fff;
    width: 71px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
  }

  .project_link {
    display: flex;
    height: 48px;
    background-color: #ff6b00;
    color: #fff;
    order: 3;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
  }

  .project_link:hover {
    background: #fff5e1;
    color: #ff6b00;
  }

  .project_link:active {
    background: #ff6b00;
    color: #fff5e1;
  }

  .about_me {
    background-color: #1c1a19;
    display: flex;
    min-width: 100vw;
    min-height: fit-content;
    flex-direction: column;
    padding-bottom: 20vh;
    margin-top: 10vh;
  }

  .about_me_intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    background-image: url(./images/Background_aboutme.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    order: 0;
  }

  .about_me_title {
    width: 327px;
    height: 79px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 88px;
    letter-spacing: 0.37px;
    color: #ff6b00;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .description1 {
    width: 327px;
    height: 148px;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .resume {
    background-color: #ff6b00;
    order: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    width: 156px;
    height: 48px;
    margin-top: 15px;
    margin-left: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
  }

  .resume:hover {
    background: #fff5e1;
    color: #ff6b00;
  }

  .resume:active {
    background: #ff6b00;
    color: #fff5e1;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: disc;
    justify-content: center;
    align-self: center;
    height: fit-content;
    margin: 0;
    padding: 0;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 327px;
    background-color: #1c1a19;
    padding-top: 20vh;
    border-top: 1px solid #fff;
  }

  .language {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: space-between;
    text-align: center;
    height: auto;
    width: 210px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .li_lang {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .frameworks {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: space-between;
    justify-content: center;
    height: auto;
    width: 210px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .li_framewk {
    color: #fff;
    order: 5;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .skills {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 210px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .li_skills {
    color: #fff;
    order: 5;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  form {
    width: 90%;
  }

  .name {
    width: 90%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #dbd8d7;
    padding: 5%;
  }

  .email {
    width: 90%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #dbd8d7;
    margin-bottom: 10px;
    padding: 5%;
  }

  .message {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    height: 15vh;
    text-align: start;
    font-style: italic;
    background: #fbf8f7;
  }

  .submit {
    width: 25 vw;
    display: flex;
    flex-direction: row;
    padding: 12px;
    gap: 10px;
    border: none;
    background: #ff6b00;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    justify-content: center;
    align-self: center;
  }

  .contact_form {
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: space-around;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact_description {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #172b4d;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vw;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
  }

  hr {
    width: 100%;
    border: 1px solid #dfe1e6;
    margin-top: 15vh;
    margin-bottom: 5vh;
  }

  .socials_footer {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 200px;
    height: 40px;
    flex: none;
    flex-grow: 0;
    list-style: none;
  }

  .submit:hover {
    background-color: #fff5e1;
    margin: 1px solid #f55800;
  }

  .submit:active {
    background-color: #e05304;
  }

  .submit:disabled {
    background-color: #f4f1f0;
    color: #5b5857;
  }
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
  }

  .toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #3e3c3c;
    color: white;
    height: 10vh;
    width: 100%;
    flex: 1;
  }

  .logo {
    font-weight: 700;
    font-size: 2vh;
    align-self: center;
  }

  .hamburger {
    display: none;
  }

  .nav_toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    margin: 0;
    padding: 0;
    height: max-content;
    list-style: none;
    color: white;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .nav-l {
    margin-right: 2vw;
  }

  .headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 90vh;
    width: 100%;
    background-color: #1c1a19;
    background-image: url("./images/Illustration-header.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }

  .content {
    display: flex;
    flex-direction: column;
    order: 1;
    height: 70vh;
    max-width: 40vw;
    justify-content: center;
  }

  .greeting {
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 6vh;
    line-height: 8vh;
    color: #f55800;
    flex: 1;
    order: 0;
    flex-grow: 0;
    width: 28vw;
    height: 50vh;
    margin: 0;
  }

  .presentation {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3vh;
    line-height: 6vh;
    display: flex;
    align-items: center;
    color: #fff;
    flex: 1;
    order: 1;
    flex-grow: 0;
    width: 40vw;
    margin: 0;
  }

  .description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 3vh;
    color: #f4f5f7;
    flex: 1 1 auto;
    order: 2;
    flex-grow: 0;
    width: 40vw;
    height: 15vh;
    margin: 0;
  }

  .socials {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 5vw;
    height: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .social-icon {
    width: 2.5vw;
    height: 2.5vw;
    margin: 0;
    padding: 0;
  }

  .works {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .works_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15vh;
    background-color: #fff;
    width: 90vw;
    justify-content: space-between;
  }

  .works_title {
    width: 26vw;
    height: 10vh;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.5vh;
    line-height: 4.5vh;
    display: flex;
    align-items: center;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .works_break {
    width: 60vw;
    border: 1px solid #212121;
    margin: 0;
  }

  .project1 {
    display: flex;
    flex-direction: row;
    width: 90vw;
  }

  .project1_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-self: center;
    width: 35vw;
    height: 40vh;
    padding-left: 2vw;
  }

  .arrow {
    display: flex;
    justify-self: flex-start;
    flex: 1;
  }

  .project_title1 {
    display: flex;
    order: 0;
    margin-bottom: 2vh;
    margin-top: 0;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4vh;
    line-height: 5vh;
    align-items: center;
    color: #091e42;
    flex: 1;
    flex-grow: 0;
    width: 31vw;
  }

  .project_description1 {
    margin-top: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vh;
    line-height: 2vh;
    color: #091e42;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 31vw;
    margin-bottom: 2vh;
  }

  .project_tools1 {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 31vw;
    height: 6vh;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 2vh;
    padding: 0;
    order: 2;
  }

  .tool1 {
    display: flex;
    border: 1px solid #8993a4;
    height: 4vh;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2vh;
    line-height: 3vh;
    align-items: center;
    justify-content: center;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
  }

  .project_link1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ff6b00;
    width: 10vw;
    height: 5vh;
    margin-right: 15.5;
    font-family: "Inter", sans-serif;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5vh;
    line-height: 3vh;
    letter-spacing: 0.03em;
    order: 3;
  }

  .project_link1:hover {
    background: #fff5e1;
    color: #ff6b00;
  }

  .project_link1:active {
    background: #ff6b00;
    color: #fff5e1;
  }

  .projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2vh;
    border: 1px solid fuchsia;
    width: 90vw;
    justify-content: space-between;
  }

  .project {
    display: flex;
    flex-direction: column;
    width: 28vw;
    min-height: 50vh;
    margin-bottom: 2vh;
    border: 1px solid skyblue;
    justify-content: flex-end;
  }

  .project_title {
    display: flex;
    order: 0;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3vh;
    line-height: 4vh;
    flex: none;
    flex-grow: 0;
    margin-left: 1vw;
    margin-bottom: 0;
    margin-top: 0;
    color: #fff;
  }

  .project_description {
    display: flex;
    order: 1;
    margin-left: 1vw;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 3vh;
    flex: none;
    flex-grow: 0;
  }

  .project_tools {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
    height: 6vh;
    margin-top: 0;
    margin-left: 1vw;
    margin-bottom: 2vh;
    padding: 0;
    order: 2;
  }

  .tool {
    background-color: rgba(255, 255, 255, 0.24);
    color: #fff;
    border: 1px solid black;
    padding: 0.5vh;
    margin-right: 2vw;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2vh;
    line-height: 2vh;
    flex: none;
    flex-grow: 0;
  }

  .project_link {
    display: flex;
    height: 5vh;
    background-color: #ff6b00;
    color: #fff;
    order: 3;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2vh;
    line-height: 3vh;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    width: 28vw;
  }

  .project_link:hover {
    background: #fff5e1;
    color: #ff6b00;
  }

  .project_link:active {
    background: #ff6b00;
    color: #fff5e1;
  }

  #first {
    background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url("images/Project-background1.svg");
    background-size: cover;
  }

  #second {
    background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url("images/Project-background2.svg");
    background-size: cover;
  }

  #third {
    background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url("images/Project-background3.svg");
    background-size: cover;
  }

  #fourth {
    background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url("images/Project-background1.svg");
    background-size: cover;
  }

  #fifth {
    background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url("images/Project-background2.svg");
    background-size: cover;
  }

  #sixth {
    background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url("images/Project-background3.svg");
    background-size: cover;
  }
}
